################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/C_SharpDev_MOD1_HW/.vs/C_SharpDev_MOD1_HW/v17
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task1/bin/Debug
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task1/Properties
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task1/obj
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task1/C_SharpDev_MOD1_HW_Task1.csproj
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task1/App.config
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task2/bin/Debug
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task2/obj
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task2/Properties
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task2/C_SharpDev_MOD1_HW_Task2.csproj
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW_Task2/App.config
/C_SharpDev_MOD1_HW/C_SharpDev_MOD1_HW.sln
/C_SharpDev_MOD2_HW/.vs/CSharpDev_MOD2_HW
/C_SharpDev_MOD2_HW/C_SharpDev_MOD2_HW_Tasks1and2/bin/Debug/net6.0
/C_SharpDev_MOD2_HW/C_SharpDev_MOD2_HW_Tasks1and2/obj
/C_SharpDev_MOD2_HW/C_SharpDev_MOD2_HW_Tasks1and2/CSharpDev_MOD2_HW_Tasks1and2.csproj
/C_SharpDev_MOD2_HW/CSharpDev_MOD2_HW.sln
/C_SharpDev_MOD3_HW/CSharpDev_MOD3_HW.sln
/C_SharpDev_MOD3_HW/.vs

